.movie {
  width: 256px;
  height: 424px;
  margin: 0.7rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  cursor: pointer;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);

  background-image: linear-gradient(180deg, #773fc2, #f24720);
}

.profile_picture {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 15%;
  left: 22.5%;
  margin: -25px 0 0 -25px;
  display: flex;
}

.profile_picture img {
  border-radius: 50%;
}

.info {
  position: absolute;
  top: 57%;
  width: 100%;
  display: flex;
  text-align: center;
}

.info h3 {
  padding: 16px;
  color: #f9d3b4;
  text-align: center;
  left: 0;
  line-height: 200px;
  margin-top: -95px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.info h4 {
  padding: 16px;
  color: #f9d3b4;
  text-align: center;
  line-height: 200px;
  margin-top: -65px;
  position: absolute;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

/*
.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: block;
    border-radius:50%;
    justify-content: center;
}

h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}*/