.infCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 7px;
    gap: 24px;

    position: relative;
    width: 627px;
    height: 160px;

    background: #002853;
    border-radius: 10px;

    margin: 0.5rem;
    cursor: pointer;
}

.infCard-picture-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 130px;
    height: 130px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infCard-picture {
    width: 110px;
    height: 110px;

    border: 3px solid #FF4820;
    border-radius: 50%;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infCard-picture img {
    border-radius: 50%;
    width: 104px;
    height: 104px;
}

.infCard-text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 182px;
    height: 126px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.infCard-name h3 {

    width: 182px;
    height: 20px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    
    color: #FFFFFF;
     
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infCard-username h4 {
    width: 182px;
    height: 18px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
    color: #A69D9D;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.infCard-categories h4 {
    width: 182px;
    height: 78px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.infCard-numeric-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 21px;

    width: 271px;
    height: 129px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.infCard-gtt {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 271px;
    height: 54px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infCard-gtt-gonderi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 79px;
    height: 54px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infCard-gtt-gonderi h4 {
    width: 79px;
    height: 18px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #A69D9D;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infCard-gtt-gonderi h3 {
    width: 58px;
    height: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.infCard-gtt-takipci {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 116px;
    height: 54px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.infCard-gtt-takipci h4 {
    width: 66px;
    height: 18px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #A69D9D;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infCard-gtt-takipci h3 {
    width: 116px;
    height: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.infCard-gtt-takip {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 66px;
    height: 54px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.infCard-gtt-takip h4 {
    width: 61px;
    height: 18px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #A69D9D;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infCard-gtt-takip h3 {
    width: 66px;
    height: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.infCard-point-and-heart-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 39px;

    width: 213px;
    height: 54px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.infCard-point h2 {
    width: 119px;
    height: 54px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;

    /* identical to box height */
    text-align: center;

    background: linear-gradient(90deg, #773FC2 -5.04%, #F24720 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

