.only-nums-allowed input[type="text"] {
    margin:0 0 0 5px;
    padding:0 8px;
    height:32px;
    width: 100%;
    line-height:32px;
    -webkit-box-shadow:none;
    box-shadow:none;
    text-shadow:none;
    background:#ffffff;
    border:0;
    font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode",Roboto,sans-serif,"LucidaGrande"
  }