.nameSurname-signup {
  position: absolute;
  width: 280px;
  height: 35px;
  left: 141px;
  top: 264px;

  background: #f6f6f6;
  border-radius: 10px;
}

.nameSurnamelabel-signup {
  position: absolute;
  width: 139px;
  height: 45px;
  left: 141px;
  top: 227px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 31px;

  color: #ffffff;
}