.influencer-profile-card {
  width: 256px;
  height: 424px;
  margin: 0.7rem;
  padding-bottom: 5%;

  border-radius: 12px;
  border: none;
  cursor: pointer;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);

  background-image: linear-gradient(180deg, #773fc2, #f24720);

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.card-upper-side {
  display: flex;
  flex-direction: column;
}

.heartButton {
  width: 100%;
  align-items: left;
  align-self: flex-start;
}

.profile_picture {
  max-width: 80%;
  max-height: 80%;
  align-self: center;
}

.profile_picture img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.card-lower-side {
  margin-top: 1%;
  max-width: 100%;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}


.info-name h3 {
  color: #f9d3b4;
  text-align: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.info-username h4 {
  color: #f9d3b4;
  text-align: center;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  color: #f0f0f0;
}

.influencerPoint {
  color: #EBD771; 
  align-items: flex-end;
  width: 100%;
  text-align: center;
}

.influencerPoint h1 {
  font-weight: bold;
}





/* .profile_picture {
  width: 200px;
  height: 200px;
  display: flex;
}

.profile_picture img {
  border-radius: 50%;
}

.info {
  display: flex;
  text-align: center;
}

.info h3 {
  padding: 16px;
  color: #f9d3b4;
  text-align: center;
  line-height: 200px;
  text-align: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.info h4 {
  padding: 16px;
  color: #f9d3b4;
  text-align: center;
  line-height: 200px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
} */


/*
.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: block;
    border-radius:50%;
    justify-content: center;
}

h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}*/