









            <ul class="search-page-form__locations">
            <li>
              <input type="checkbox" id="region-5" name="region[]" class="js-ml-checkbox region-input" value="Europe"/>
              <label for="region-5" class="region-label"> Europe</label>
              <div class="js-expand-list ">
                <svg width="16" height="16">
                    {/*<use xlink:href="#arrow-down"></use>*/}
                </svg>
              </div>
            </li>
  
                <li>
                    <input type="checkbox" id="region-7" name="region[]" class="js-ml-checkbox region-input" value="North America"/>
                    <label for="region-7" class="region-label"> North America</label>
                    <div class="js-expand-list ">
                      <svg width="16" height="16">
                          {/* <use xlink:href="#arrow-down"></use> */}
                      </svg>
                    </div>
                </li>
  
                <li>
                    <input type="checkbox" id="region-9" name="region[]" class="js-ml-checkbox region-input" value="Middle East"/>
                    <label for="region-9" class="region-label"> Middle East</label>
                    <div class="js-expand-list ">
                      <svg width="16" height="16">
                          {/* <use xlink:href="#arrow-down"></use> */}
                      </svg>
                    </div>
                    
                </li>
  
                <li>
                    <input type="checkbox" id="region-10" name="region[]" class="js-ml-checkbox region-input" value="Oceania"/>
                    <label for="region-10" class="region-label"> Oceania</label>
                    <div class="js-expand-list ">
                      <svg width="16" height="16">
                          {/* <use xlink:href="#arrow-down"></use> */}
                      </svg>
                    </div>
                    
                </li>
                <li>
                    <input type="checkbox" id="region-11" name="region[]" class="js-ml-checkbox region-input" value="Asia"/>
                    <label for="region-11" class="region-label"> Asia</label>
                    <div class="js-expand-list ">
                      <svg width="16" height="16">
                          {/* <use xlink:href="#arrow-down"></use> */}
                      </svg>
                    </div>
              </li>
              
                <li class="remote-filter-li border-top">
                    <input type="checkbox" id="remote-filter" class="js-ml-checkbox" name="type[]" value="remote"/>
                    <label for="remote-filter" class="remote-label">Remote</label>
                </li>
              </ul>
















              <div class="search-box">
                <h3 class="search-box__title">Categories</h3>
                <div class="search-page__tags-wrapper">
                  <label class="search-page__tag">
                  <input type="checkbox" class="search-input-category" value="back-end" name="category[]"/>
                  <span class="checkmark">Back End</span>
                  </label>
                  <label class="search-page__tag">
                  <input type="checkbox" class="search-input-category" value="front-end" name="category[]"/>
                  <span class="checkmark">Front End</span>
                  </label>
                  <label class="search-page__tag">
                  <input type="checkbox" class="search-input-category" value="full-stack" name="category[]"/>
                  <span class="checkmark">Full Stack</span>
                  </label>
                  <label class="search-page__tag">
                  <input type="checkbox" class="search-input-category" value="mobile" name="category[]"/>
                  <span class="checkmark">Mobile</span>
                  </label>
                </div>
              </div>